/* body{
    
    background-size: auto;
    background-repeat: no-repeat;
    height: 100%;
    margin: 0;

} */

/********************************************************************
*
* NAVBAR / CSS
*
**************************************************************************/


 /****************** MARKERS STYLE ************************/
 .marker {
    background-image: url('images/autres.png');
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
  }
  

    /* // MAP POP-UP STYLE */

.mapboxgl - popup{
    max - width: 400px;
    font: 12px / 20px 'Helvetica Neue', Arial, Helvetica, sans - serif;
}

/* Orange GEGG

R   250
V  131
B   5

C   0
M  58
J    95
N   0

#FA8305 */
/* Jaune GEGG

R   253
V  178
B   3

C   0
M  35
J    93
N   0

#fdb203 */
/* Bleu GEGG

R   5
V   68
B   113

C   100
M   73
J    30
N   16

#054471 */

/* Beige GEGG

R   244
V   241
B   226

C   6
M  4
J    14
N   0

#F4F1E2 */

/* Gris GEGG

R   140
V   140
B   140

C   46
M  36
J    36
N   16

#8C8C8C */